<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Данные</h1>
    <button onclick='alert("клик")'>Кнопка</button>
    <input type="text" name="inputOne" class="jsGg"></input>
    <input type="text" onchange='myFunction(event)'></input>
    <textarea class="show_text"></textarea>

</body>
<script>
    window.onload = (event) => {
        console.log('документ загрузился');
        let inputOne = document.querySelector('input[name="inputOne"]');
        let inputTwo = document.querySelector('.jsGg');
        console.log(inputOne);
    

    };

    let inputThree = document.querySelector(".jsGg");
    console.log(inputThree)
    inputThree.addEventListener("input", () => {console.log('изменения')});

    function myFunction(event) {
        let textShow = document.querySelector('.show_text')
        console.log(textShow)
    }
</script>
</html>